
ML-Data-Science-Syllabus.pdf

.DS_Store

.ipynb_checkpoints/

12-Rules-to-Learn-to-Code.pdf

AppBreweryCornellNotesTemplate.pdf

cost_revenue_dirty.csv

cost_revenue_clean.csv

.idea/

LR/__pycache__/
